<%= form_with(model: rails_tutorial) do |form| %>
  <% if rails_tutorial.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rails_tutorial.errors.count, "error") %> prohibited this rails_tutorial from being saved:</h2>

      <ul>
        <% rails_tutorial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name, style: "display: block", class:"form-label" %>
    <%= form.text_field :first_name, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, style: "display: block", class:"form-label" %>
    <%= form.text_field :last_name, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, style: "display: block", class:"form-label" %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone, style: "display: block", class:"form-label" %>
    <%= form.text_field :phone, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :twitter, style: "display: block", class:"form-label" %>
    <%= form.text_field :twitter, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.number_field :user_id, id: :rails_tutorial_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>


  <div>
    <%= form.submit :class=>'btn btn-primary mt-3'%>
  </div>
<% end %>
