<td scope="col"><%= link_to rails_tutorial.first_name + " " + rails_tutorial.last_name , rails_tutorial, class:"link-dark" %></td>
<td scope="col"><%= rails_tutorial.email %></td>
<td scope="col"><%= rails_tutorial.phone %></td>
<td scope="col"><%= rails_tutorial.twitter %></td>
<td scope="col"><%= rails_tutorial.user_id %></td>


